<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Mad Metrics</title>
</head>
<body ng-app="vaticanAssassin">

<div ng-controller="vaticanCtl" class="container">
	<button ng-click="click()" class="btn">Show Metrics</button>
	<section class="intro">
		<h1>Vatican Assassin</h1>
		<button ng-click="signup()" class="signup">Sign Up Brah</button>
		<h2>Lorem Ipsum in the spirit of Charlie Sheen</h2>
		<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQWWt1Zx3lg1eAtrJwpWEWZc35uE5xsCNxge_LB7Vp_bGsrrEnLHRDsYS0">
		<p>  I am every character in between, save for that little weirdo with his
		guts strapped in, begging for water. That's not me. And they're gonna fuel
		the battle-cry of my deadly and dangerous secret and silent soldiers.
		'Cause they're all around you .... Anyway. Thought you were just messing
		with one dude. Sorry! WINNING! Debate me on AA right now. I have a disease?
		Bullshit. I cured it with my brain; with my mind. And people say, 'Oh, you
		know... you have to work through your resentments.' Yeah. No. I'm gonna
		hold on to them and they're gonna fuel my attack. I just closed my eyes and
		in a nanosecond I cured myself from this ridiculous model of disease,
		addiction, and obsession. It's just ... It's just the work of sissies.</p>

		<p>They will lose the rest of their lives as they think about me and my
		life for the rest of their lives. So ... it's ... there's no ... again,
		bring me a challenge, somebody. Bring me a frickin' challenge. Because, you
		know ... it just ain't there. WINNING! I'm cured. I'm done. 'Well, we all
		have to sit in here and touch ourselves and frown.' Well, you don't look
		like you're having a lot of fun.   Yeah, I didn't care about that vanity
		card. In fact, I went straight on with that one and just dispelled that
		one. And I'm like ... guys, it's right there in the thing. Duh! We work for
		the Pope. We murder people. We're Vatican assassins. But there's also ...
		falling from it ... is the apple from The Giving Tree. There's my life.
		Deal with it. Oh, wait! Can't process it. Losers! WINNING! B'bye. And we
		are and, I don't know, winning?... Anyone? .... (long silence) .... Rhymes
		with winning? .... Anyone? .... Yeah, that would be us.</p>

		<p>He's as radical as you'd think he'd might be. If ... I'm not just my
		dad, I'm ... you know ... petting up the river to kill another part of me,
		which is 'courage'. I'm gonna hang out with these two smokin' hotties and
		fly privately around the world. You know, it might be lonely up here, but I
		sure like the view, Alex. And one of those stupid mottoes, Alex, is 'Don't
		be special. Be one of us.' News flash! I am special, and I'll never be one
		of you! ... There it is. I'm done. I'm done. It's on. Bring it, as I say. I
		ain't hidin'. No, you won't get high .... It's all good. It's all good,
		guys. Quit panicking. Quit panicking. No panic, no judgment. The goddesses?
		Alex, the goddesses .... Let me just say this about the goddesses: I don't
		believe the term is good enough ... is good enough ... but when you're
		bound by these terrestrial descriptions, you must use the best choice
		available, right? 'You have the right to kill me, but you do not have the
		right to judge me.' Boom. That's the whole movie. That's life .... That's
		life. There's nobility in that. There's focus. It's genuine. It's crystal
		and it's pure and it's available to everybody. Because I'm just ... um ....
		I don't know. Why give an interview when you can leave a warning, you
		know?</p>

		<p>The goddesses? Alex, the goddesses .... Let me just say this about the
		goddesses: I don't believe the term is good enough ... is good enough ...
		but when you're bound by these terrestrial descriptions, you must use the
		best choice available, right? The goddesses? Alex, the goddesses .... Let
		me just say this about the goddesses: I don't believe the term is good
		enough ... is good enough ... but when you're bound by these terrestrial
		descriptions, you must use the best choice available, right? But it's just
		not ... I'm not fair game. I'm not a soft target. It's over.  Well, yeah.
		But I was gonna tell you, I'm tired of being told like, 'Oh, you can't talk
		about that. You can't talk about that.' Bull s.h.i.t. ... uh .... THE BIBLE
		GRIPPERS!  But like in baseball, the scoreboard doesn't lie. Never has. So
		what we all have is a marriage of the heart ... of the hearts.</p>

		<p> Yeah, I sat with two - hey, coincidence - F-18, Top Gun, radical fire,
		napalm dropping pilots in my movie theater watching the chopper attack
		sequence on the beachhead to go surfing because they wanted to and those
		people were in their way. Take for instance its founder and death written
		... I don't know ... broken down plagiarist ... stayed high on acid until
		the day he died. I can't seem to find that chapter in his silly book of
		lies. And they're gonna fuel the battle-cry of my deadly and dangerous
		secret and silent soldiers. 'Cause they're all around you .... Anyway.
		Thought you were just messing with one dude. Sorry! WINNING!  Well, yeah.
		But I was gonna tell you, I'm tired of being told like, 'Oh, you can't talk
		about that. You can't talk about that.' Bull s.h.i.t. ... uh .... There's a
		new sheriff in town, and he has an army of assassins. Oh, we must speak of
		the Vatican assassins. You know? Dealing with soft targets, and it's just
		strafing runs in my underwear before my first cup of coffee because I don't
		have time for these clowns. I don't have time for their judgment and their
		stupidity and .... (sighs)</p>

		<p> And that was actually, you know, one of the few compliments that clown
		has paid me in frickin' almost a decade. The goddesses? Alex, the goddesses
		.... Let me just say this about the goddesses: I don't believe the term is
		good enough ... is good enough ... but when you're bound by these
		terrestrial descriptions, you must use the best choice available, right?
		You know, they lay down with their ugly wives in front of their ugly
		children and just look at their loser lives and then they look at me and
		say, 'I CAN'T PROCESS IT!' Well, no, and you never will. Stop trying. Just
		sit back and enjoy the show .... You know? But I dare anyone to debate me
		on things. It's being directed and written by a genius name David Ward who
		- oh, I don't know - won the Academy Award at 23 for writing The Sting. And
		it was his pen and his vision that created the classic that we know today
		as Major League. And the gratitude I get is this charlatan chose not to do
		his job, which is to WRITE. Clearly, someone who believes he is above the
		law. Well, you've been warned, dude. Bring it. Yeah, I didn't care about
		that vanity card. In fact, I went straight on with that one and just
		dispelled that one.</p>

		<p>Well, I think it was Nails that said I was really, really flattered,
		'cause he got it right. And I'm not ...   You know, he might be Nails, but
		I'm frickin' bayonets, you know? I am battle-tested bayonets, bro. 100%.
		You know, here's your first pee test. Next one goes in your mouth. And you
		know, I'm tired ... I'm so tired of pretending like my life isn't perfect
		and bitchin' and just winning every second .... And I'm not perfect and
		bitchin', and just delivering the goods at every frickin' turn. Because you
		have absolute and total resolve about your decisions. If you love with
		violence and you hate with violence, there's nothing that can be
		questioned. The goddesses? Alex, the goddesses .... Let me just say this
		about the goddesses: I don't believe the term is good enough ... is good
		enough ... but when you're bound by these terrestrial descriptions, you
		must use the best choice available, right?</p>
	</section>

	<section class="middle">
		<p>You know, they lay down with their ugly wives in front of their ugly
		children and just look at their loser lives and then they look at me and
		say, 'I CAN'T PROCESS IT!' Well, no, and you never will. Stop trying. Just
		sit back and enjoy the show .... You know? No, you won't get high .... It's
		all good. It's all good, guys. Quit panicking. Quit panicking. No panic, no
		judgment.  But it's just not ... I'm not fair game. I'm not a soft target.
		It's over. .... And then, I just got to add this: There was a whole
		firestorm yesterday about Brooke being, you know, a part of our crew. And
		let me just say this ... this is all I'm gonna say about it: Where there
		were four ... there are now three. Goodbye, Brooke, and good luck in your
		travels ... you're gonna need it ... badly... So .... But I dare anyone to
		debate me on things. How complicated can it be? What they're not ready for,
		is guys like you and I, Nails, and all the other gnarly gnarlingtons in my
		life ... that we are high priests ... Vatican assassin warlocks. Boom.
		Print that, people. See where that goes.</p>

		<p>But like in baseball, the scoreboard doesn't lie. Never has. So what we
		all have is a marriage of the heart ... of the hearts. You know, he might
		be Nails, but I'm frickin' bayonets, you know? I am battle-tested bayonets,
		bro. So ... you know ... within that is tremendous focus, and tremendous
		clarity, and tremendous peace.  It's being directed and written by a genius
		name David Ward who - oh, I don't know - won the Academy Award at 23 for
		writing The Sting. And it was his pen and his vision that created the
		classic that we know today as Major League. No, you won't get high ....
		It's all good. It's all good, guys. Quit panicking. Quit panicking. No
		panic, no judgment. And you know, I'm tired ... I'm so tired of pretending
		like my life isn't perfect and bitchin' and just winning every second ....
		And I'm not perfect and bitchin', and just delivering the goods at every
		frickin' turn. Major League 3? I don't know. I haven't read it. I don't
		care.</p>

		<p>They have zero. They have that night, and I will forget about them as
		the last image of them exits my beautiful home. And they will get out there
		and they will sell me, and they will lose. You know, they lay down with
		their ugly wives in front of their ugly children and just look at their
		loser lives and then they look at me and say, 'I CAN'T PROCESS IT!' Well,
		no, and you never will. Stop trying. Just sit back and enjoy the show ....
		You know? So ... you know ... within that is tremendous focus, and
		tremendous clarity, and tremendous peace.  Because you have absolute and
		total resolve about your decisions. If you love with violence and you hate
		with violence, there's nothing that can be questioned.  You know, he might
		be Nails, but I'm frickin' bayonets, you know? I am battle-tested bayonets,
		bro. But I dare anyone to debate me on things.</p>

		<p> .... And then, I just got to add this: There was a whole firestorm
		yesterday about Brooke being, you know, a part of our crew. And let me just
		say this ... this is all I'm gonna say about it: Where there were four ...
		there are now three. Goodbye, Brooke, and good luck in your travels ...
		you're gonna need it ... badly... So ....   They have zero. They have that
		night, and I will forget about them as the last image of them exits my
		beautiful home. And they will get out there and they will sell me, and they
		will lose. In fact, a lot of people think the movie's called 'Wild Thing',
		as they should.  But ... whatever. I agreed to do it. There's just one deal
		point that Jim Robinson - a wonderful man at Morgan Creek, a great company
		- need to work out is they want me in it. If they do, it's a smash. If they
		don't, it's a turd that opens on a tugboat.</p>

		<p>But ... whatever. I agreed to do it. There's just one deal point that
		Jim Robinson - a wonderful man at Morgan Creek, a great company - need to
		work out is they want me in it. If they do, it's a smash. If they don't,
		it's a turd that opens on a tugboat. I'm done. I'm done. It's on. Bring it,
		as I say. I ain't hidin'.  He's as radical as you'd think he'd might be. If
		... I'm not just my dad, I'm ... you know ... petting up the river to kill
		another part of me, which is 'courage'. There's a new sheriff in town, and
		he has an army of assassins. Oh, we must speak of the Vatican assassins.
		Yeah, I sat with two - hey, coincidence - F-18, Top Gun, radical fire,
		napalm dropping pilots in my movie theater watching the chopper attack
		sequence on the beachhead to go surfing because they wanted to and those
		people were in their way. And I'm like ... guys, it's right there in the
		thing. Duh! We work for the Pope. We murder people. We're Vatican
		assassins. Yeah. I did. Because he's nothing shy of that. And it is his job
		to go out there and embarrass people. Embarrass them. Not just beat them,
		but embarrass them in the process.</p>

		<p>How complicated can it be? What they're not ready for, is guys like you
		and I, Nails, and all the other gnarly gnarlingtons in my life ... that we
		are high priests ... Vatican assassin warlocks. Boom. Print that, people.
		See where that goes. So if you think about it, dude, it's like I'm 0-for-3
		with marriage, with ne'er an excuse. And I'm like ... guys, it's right
		there in the thing. Duh! We work for the Pope. We murder people. We're
		Vatican assassins.  But like in baseball, the scoreboard doesn't lie. Never
		has. So what we all have is a marriage of the heart ... of the hearts. The
		only thing I'm addicted to right now is winning. You know? This bootleg
		cult - you know, arrogantly referred to as 'Alcoholics Anonymous' - now
		supports a 5% success rate. My success rate is 100%. Do the math! Well,
		yeah. But I was gonna tell you, I'm tired of being told like, 'Oh, you
		can't talk about that. You can't talk about that.' Bull s.h.i.t. ... uh
		.... Check it, Alex, I embarrassed him in front of his children and the
		world by healing at a pace that his unevolved mind can't process. Okay ...
		last I checked, Chaim, I've spent close to the last decade, I don't know,
		effortless and magically converting your tin cans into pure gold.</p>

		<p>  I am every character in between, save for that little weirdo with his
		guts strapped in, begging for water. That's not me. And they're gonna fuel
		the battle-cry of my deadly and dangerous secret and silent soldiers.
		'Cause they're all around you .... Anyway. Thought you were just messing
		with one dude. Sorry! WINNING! Debate me on AA right now. I have a disease?
		Bullshit. I cured it with my brain; with my mind. And people say, 'Oh, you
		know... you have to work through your resentments.' Yeah. No. I'm gonna
		hold on to them and they're gonna fuel my attack. I just closed my eyes and
		in a nanosecond I cured myself from this ridiculous model of disease,
		addiction, and obsession. It's just ... It's just the work of sissies.</p>

		<p>They will lose the rest of their lives as they think about me and my
		life for the rest of their lives. So ... it's ... there's no ... again,
		bring me a challenge, somebody. Bring me a frickin' challenge. Because, you
		know ... it just ain't there. WINNING! I'm cured. I'm done. 'Well, we all
		have to sit in here and touch ourselves and frown.' Well, you don't look
		like you're having a lot of fun.   Yeah, I didn't care about that vanity
		card. In fact, I went straight on with that one and just dispelled that
		one. And I'm like ... guys, it's right there in the thing. Duh! We work for
		the Pope. We murder people. We're Vatican assassins. But there's also ...
		falling from it ... is the apple from The Giving Tree. There's my life.
		Deal with it. Oh, wait! Can't process it. Losers! WINNING! B'bye. And we
		are and, I don't know, winning?... Anyone? .... (long silence) .... Rhymes
		with winning? .... Anyone? .... Yeah, that would be us.</p>
	</section>

	<section class="end">
		<p>He's as radical as you'd think he'd might be. If ... I'm not just my
		dad, I'm ... you know ... petting up the river to kill another part of me,
		which is 'courage'. I'm gonna hang out with these two smokin' hotties and
		fly privately around the world. You know, it might be lonely up here, but I
		sure like the view, Alex. And one of those stupid mottoes, Alex, is 'Don't
		be special. Be one of us.' News flash! I am special, and I'll never be one
		of you! ... There it is. I'm done. I'm done. It's on. Bring it, as I say. I
		ain't hidin'. No, you won't get high .... It's all good. It's all good,
		guys. Quit panicking. Quit panicking. No panic, no judgment. The goddesses?
		Alex, the goddesses .... Let me just say this about the goddesses: I don't
		believe the term is good enough ... is good enough ... but when you're
		bound by these terrestrial descriptions, you must use the best choice
		available, right? 'You have the right to kill me, but you do not have the
		right to judge me.' Boom. That's the whole movie. That's life .... That's
		life. There's nobility in that. There's focus. It's genuine. It's crystal
		and it's pure and it's available to everybody. Because I'm just ... um ....
		I don't know. Why give an interview when you can leave a warning, you
		know?</p>

		<p>The goddesses? Alex, the goddesses .... Let me just say this about the
		goddesses: I don't believe the term is good enough ... is good enough ...
		but when you're bound by these terrestrial descriptions, you must use the
		best choice available, right? The goddesses? Alex, the goddesses .... Let
		me just say this about the goddesses: I don't believe the term is good
		enough ... is good enough ... but when you're bound by these terrestrial
		descriptions, you must use the best choice available, right? But it's just
		not ... I'm not fair game. I'm not a soft target. It's over.  Well, yeah.
		But I was gonna tell you, I'm tired of being told like, 'Oh, you can't talk
		about that. You can't talk about that.' Bull s.h.i.t. ... uh .... THE BIBLE
		GRIPPERS!  But like in baseball, the scoreboard doesn't lie. Never has. So
		what we all have is a marriage of the heart ... of the hearts.</p>

		<p> Yeah, I sat with two - hey, coincidence - F-18, Top Gun, radical fire,
		napalm dropping pilots in my movie theater watching the chopper attack
		sequence on the beachhead to go surfing because they wanted to and those
		people were in their way. Take for instance its founder and death written
		... I don't know ... broken down plagiarist ... stayed high on acid until
		the day he died. I can't seem to find that chapter in his silly book of
		lies. And they're gonna fuel the battle-cry of my deadly and dangerous
		secret and silent soldiers. 'Cause they're all around you .... Anyway.
		Thought you were just messing with one dude. Sorry! WINNING!  Well, yeah.
		But I was gonna tell you, I'm tired of being told like, 'Oh, you can't talk
		about that. You can't talk about that.' Bull s.h.i.t. ... uh .... There's a
		new sheriff in town, and he has an army of assassins. Oh, we must speak of
		the Vatican assassins. You know? Dealing with soft targets, and it's just
		strafing runs in my underwear before my first cup of coffee because I don't
		have time for these clowns. I don't have time for their judgment and their
		stupidity and .... (sighs)</p>

		<p> And that was actually, you know, one of the few compliments that clown
		has paid me in frickin' almost a decade. The goddesses? Alex, the goddesses
		.... Let me just say this about the goddesses: I don't believe the term is
		good enough ... is good enough ... but when you're bound by these
		terrestrial descriptions, you must use the best choice available, right?
		You know, they lay down with their ugly wives in front of their ugly
		children and just look at their loser lives and then they look at me and
		say, 'I CAN'T PROCESS IT!' Well, no, and you never will. Stop trying. Just
		sit back and enjoy the show .... You know? But I dare anyone to debate me
		on things. It's being directed and written by a genius name David Ward who
		- oh, I don't know - won the Academy Award at 23 for writing The Sting. And
		it was his pen and his vision that created the classic that we know today
		as Major League. And the gratitude I get is this charlatan chose not to do
		his job, which is to WRITE. Clearly, someone who believes he is above the
		law. Well, you've been warned, dude. Bring it. Yeah, I didn't care about
		that vanity card. In fact, I went straight on with that one and just
		dispelled that one.</p>

		<p>Well, I think it was Nails that said I was really, really flattered,
		'cause he got it right. And I'm not ...   You know, he might be Nails, but
		I'm frickin' bayonets, you know? I am battle-tested bayonets, bro. 100%.
		You know, here's your first pee test. Next one goes in your mouth. And you
		know, I'm tired ... I'm so tired of pretending like my life isn't perfect
		and bitchin' and just winning every second .... And I'm not perfect and
		bitchin', and just delivering the goods at every frickin' turn. Because you
		have absolute and total resolve about your decisions. If you love with
		violence and you hate with violence, there's nothing that can be
		questioned. The goddesses? Alex, the goddesses .... Let me just say this
		about the goddesses: I don't believe the term is good enough ... is good
		enough ... but when you're bound by these terrestrial descriptions, you
		must use the best choice available, right?</p>

		<p>You know, they lay down with their ugly wives in front of their ugly
		children and just look at their loser lives and then they look at me and
		say, 'I CAN'T PROCESS IT!' Well, no, and you never will. Stop trying. Just
		sit back and enjoy the show .... You know? No, you won't get high .... It's
		all good. It's all good, guys. Quit panicking. Quit panicking. No panic, no
		judgment.  But it's just not ... I'm not fair game. I'm not a soft target.
		It's over. .... And then, I just got to add this: There was a whole
		firestorm yesterday about Brooke being, you know, a part of our crew. And
		let me just say this ... this is all I'm gonna say about it: Where there
		were four ... there are now three. Goodbye, Brooke, and good luck in your
		travels ... you're gonna need it ... badly... So .... But I dare anyone to
		debate me on things. How complicated can it be? What they're not ready for,
		is guys like you and I, Nails, and all the other gnarly gnarlingtons in my
		life ... that we are high priests ... Vatican assassin warlocks. Boom.
		Print that, people. See where that goes.</p>

		<p>But like in baseball, the scoreboard doesn't lie. Never has. So what we
		all have is a marriage of the heart ... of the hearts. You know, he might
		be Nails, but I'm frickin' bayonets, you know? I am battle-tested bayonets,
		bro. So ... you know ... within that is tremendous focus, and tremendous
		clarity, and tremendous peace.  It's being directed and written by a genius
		name David Ward who - oh, I don't know - won the Academy Award at 23 for
		writing The Sting. And it was his pen and his vision that created the
		classic that we know today as Major League. No, you won't get high ....
		It's all good. It's all good, guys. Quit panicking. Quit panicking. No
		panic, no judgment. And you know, I'm tired ... I'm so tired of pretending
		like my life isn't perfect and bitchin' and just winning every second ....
		And I'm not perfect and bitchin', and just delivering the goods at every
		frickin' turn. Major League 3? I don't know. I haven't read it. I don't
		care.</p>

		<p>They have zero. They have that night, and I will forget about them as
		the last image of them exits my beautiful home. And they will get out there
		and they will sell me, and they will lose. You know, they lay down with
		their ugly wives in front of their ugly children and just look at their
		loser lives and then they look at me and say, 'I CAN'T PROCESS IT!' Well,
		no, and you never will. Stop trying. Just sit back and enjoy the show ....
		You know? So ... you know ... within that is tremendous focus, and
		tremendous clarity, and tremendous peace.  Because you have absolute and
		total resolve about your decisions. If you love with violence and you hate
		with violence, there's nothing that can be questioned.  You know, he might
		be Nails, but I'm frickin' bayonets, you know? I am battle-tested bayonets,
		bro. But I dare anyone to debate me on things.</p>

		<p> .... And then, I just got to add this: There was a whole firestorm
		yesterday about Brooke being, you know, a part of our crew. And let me just
		say this ... this is all I'm gonna say about it: Where there were four ...
		there are now three. Goodbye, Brooke, and good luck in your travels ...
		you're gonna need it ... badly... So ....   They have zero. They have that
		night, and I will forget about them as the last image of them exits my
		beautiful home. And they will get out there and they will sell me, and they
		will lose. In fact, a lot of people think the movie's called 'Wild Thing',
		as they should.  But ... whatever. I agreed to do it. There's just one deal
		point that Jim Robinson - a wonderful man at Morgan Creek, a great company
		- need to work out is they want me in it. If they do, it's a smash. If they
		don't, it's a turd that opens on a tugboat.</p>

		<p>But ... whatever. I agreed to do it. There's just one deal point that
		Jim Robinson - a wonderful man at Morgan Creek, a great company - need to
		work out is they want me in it. If they do, it's a smash. If they don't,
		it's a turd that opens on a tugboat. I'm done. I'm done. It's on. Bring it,
		as I say. I ain't hidin'.  He's as radical as you'd think he'd might be. If
		... I'm not just my dad, I'm ... you know ... petting up the river to kill
		another part of me, which is 'courage'. There's a new sheriff in town, and
		he has an army of assassins. Oh, we must speak of the Vatican assassins.
		Yeah, I sat with two - hey, coincidence - F-18, Top Gun, radical fire,
		napalm dropping pilots in my movie theater watching the chopper attack
		sequence on the beachhead to go surfing because they wanted to and those
		people were in their way. And I'm like ... guys, it's right there in the
		thing. Duh! We work for the Pope. We murder people. We're Vatican
		assassins. Yeah. I did. Because he's nothing shy of that. And it is his job
		to go out there and embarrass people. Embarrass them. Not just beat them,
		but embarrass them in the process.</p>

		<p>How complicated can it be? What they're not ready for, is guys like you
		and I, Nails, and all the other gnarly gnarlingtons in my life ... that we
		are high priests ... Vatican assassin warlocks. Boom. Print that, people.
		See where that goes. So if you think about it, dude, it's like I'm 0-for-3
		with marriage, with ne'er an excuse. And I'm like ... guys, it's right
		there in the thing. Duh! We work for the Pope. We murder people. We're
		Vatican assassins.  But like in baseball, the scoreboard doesn't lie. Never
		has. So what we all have is a marriage of the heart ... of the hearts. The
		only thing I'm addicted to right now is winning. You know? This bootleg
		cult - you know, arrogantly referred to as 'Alcoholics Anonymous' - now
		supports a 5% success rate. My success rate is 100%. Do the math! Well,
		yeah. But I was gonna tell you, I'm tired of being told like, 'Oh, you
		can't talk about that. You can't talk about that.' Bull s.h.i.t. ... uh
		.... Check it, Alex, I embarrassed him in front of his children and the
		world by healing at a pace that his unevolved mind can't process. Okay ...
		last I checked, Chaim, I've spent close to the last decade, I don't know,
		effortless and magically converting your tin cans into pure gold.</p>
	</section>
</div>


<script type="text/javascript" src="script.js"></script>
</body>
</html>