<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Hide-A-Form</title>
</head>
<body ng-controller="appCtl">

<button ng-click="showForm()">{{showHide}}</button>

<form ng-show="formVisible" ng-submit="submit()">
	<label>name: <input type="text" ng-model="name"></label>
	<label>bio: <input type="text" ng-model="bio"></label>
	<label>Favorite Books: <input type="text" ng-model="books"></label>
	<label>Favorite JS libraries: <input type="text" ng-model="libraries"></label>
	<label><input type="submit"></label>
</form>

<div ng-show="profileVisible" class="profile">
	<img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJPLzKEPdE_YOw24V-Ry0NBVu3Z5DvV2r8Q6rrkkTtc4dn9lntZQ">
	<div class="profile-data">
		<div>Name: <span>{{name}}</span></div>
		<div>Bio: <span>{{bio}}</span></div>
		<div>Favorite Books: <span>{{books}}</span></div>
		<div>Favorite JS libraries: <span>{{libraries}}</span></div>
	</div>	
</div>


<script type="text/javascript" src="script.js"></script>
</body>
</html>